{{#if resume.projects.length}}
<section id="projects">
	<h2>Projects</h2>
	<hr>
	<div class="line"></div>
	{{#each resume.projects}}
	<div class="item">
		{{#if title}}
		<div class="title">
			{{#if website}}
                <a href="{{website}}" target="_blank"><h3>{{title}}</h3></a>
            {{else}}
                <h3>{{title}}</h3>
            {{/if}}
		</div>
		{{/if}}
		{{#if summary}}
		<div class="summary">
			<p>{{summary}}</p>
		</div>
		{{/if}}
	</div>
	{{/each}}
</section>
{{/if}}